run = "npm run start:all"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run start:all"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
